extends layout

block content
    if loggedInUser
        form(action="/join" method="POST")
            label(for="join") Join us...quietly.
            input(type="text" placeholder="Shhhhhh..." required)
            button(type="submit" aria-label="Enable secret membership") Attempt to join in silence

    else
        a(href="signup" class="cursor-default"): div(class="w-[min(500px,90vw)] mx-auto bg-cover bg-hush hover:bg-angry aspect-square")