extends layout

block content
    if currentUser
        if currentUser.isMember
            h1 You are a member
        else
            -
                const joinHeading = failedJoin ? 'Too loud, access denied.' : 'Join us...quietly.';

            form(action="/join" method="POST" class="flex flex-col gap-4 mt-4")
                label(for="secret" class="text-center")= joinHeading
                input(name="secret" id="secret" type="password" class="px-1 text-zinc-800" placeholder="Shhhhhh..." autofocus)

                button(type="submit" class="transition hover:scale-110" aria-label="Enable secret membership") > Attempt to join in silence <

    else
        a(href="signup" class="cursor-default")
            div(class="w-[min(500px,90vw)] mx-auto bg-cover bg-hush hover:bg-angry aspect-square")