extends layout

block content
    h1(class="my-4") #[i Welcome back...]

    form(action="" method="POST" class="flex flex-col gap-4")
        label(class="flex flex-col")
            p(class="text-sm") Username:
            input(name="username" type="text" class="px-1 text-zinc-800" autocomplete="off" required)
        label(class="flex flex-col")
            p(class="text-sm") Password:
            input(name="password" type="password" class="px-1 text-zinc-800 valid:outline-green-500 invalid:outline-red-600" autocomplete="off" required)
        button(type="submit" class="self-center text-lg hover:scale-110 hover:font-bold" aria-label="Register account") > Enter in silence <