extends layout

block content
    h1(class="my-4 text-3xl font-bold") Hush now...

    h2(class="my-2") Requirements:
    ul(class="mx-4 mb-6 text-sm list-disc")
        li Username must be a minimum of 4 characters long (no spaces)
        li Password must contain at least 8 characters
        li Password must contain at least 1 letter (any case)
        li Password must contain at least 1 number
        li Password cannot contain any spaces

    if errors
        ul(class="mb-6 text-sm text-red-300 list-disc")
            each error in errors
                li= error.msg

    form(action="" method="POST" class="flex flex-col gap-4")
        label(class="flex flex-col")
            p(class="text-sm") Username (required):
            input(name="username" type="text" class="px-1 text-zinc-800" autocomplete="off" required min=4 value=(errors && username))
        label(class="flex flex-col")
            p(class="text-sm") First name (required):
            input(name="firstname" type="text" class="px-1 text-zinc-800" autocomplete="off" required value=(errors && firstname))
        label(class="flex flex-col")
            p(class="text-sm") Last name:
            input(name="lastname" type="text" class="px-1 text-zinc-800" autocomplete="off" value=(errors && lastname))
        label(class="flex flex-col")
            p(class="text-sm") Password (required):
            input(name="password" type="password" class="px-1 password text-zinc-800 valid:outline-green-500 invalid:outline-red-600" pattern="^(?=.*[a-zA-Z])(?=.*\\d)[^\\s]{8,}$" autocomplete="off" required)
        label(class="flex flex-col")
            p(class="text-sm") Confirm password (required):
            input(name="confirm-password" type="password" class="px-1 password text-zinc-800" autocomplete="off")
        button(type="submit" class="self-center text-lg hover:scale-110 hover:font-bold" aria-label="Register account") > Join quietly <

    script(defer src="/scripts/signup.js")