extends layout

block content
    h1(class="my-4 text-3xl font-bold") Hush now...

    h2(class="my-2") Requirements:
    ul(class="mx-4 mb-6 text-sm list-disc")
        li Username must be a minimum of 4 characters long (no spaces)
        li Password must contain at least 8 characters
        li Password must contain at least 1 letter (any case)
        li Password must contain at least 1 number

    if errors
        ul(class="mb-6 text-sm text-red-300 list-disc")
            each error in errors
                li= error

    form(action="" method="POST" class="flex flex-col gap-4")
        label(class="flex flex-col")
            p(class="text-sm") Username (required):
            input(type="text" required min=4)
        label(class="flex flex-col")
            p(class="text-sm") First name (required):
            input(type="text" required)
        label(class="flex flex-col")
            p(class="text-sm") Last name:
            input(type="text")
        label(class="flex flex-col")
            p(class="text-sm") Password (required):
            input(type="text" required)
        label(class="flex flex-col")
            p(class="text-sm") Confirm password (required):
            input(type="text" pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" required)
        button(type="submit" class="self-center text-lg hover:scale-110 hover:font-bold" aria-label="Register account") > Join quietly <
